.pagination {
    display: flex;
    padding-left: 45%;
    list-style: none;
    border-radius: .25rem;
    margin: 1%;
    position: relative;
  }
  
  .a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .a.active {
    background-color: #ef2319;
    color: white;
    border: 1px solid #ef2319;
  }
  
  .a:hover:not(.active) {background-color: #ddd;}
  