.li{
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 1em;
    background: rgb(215, 219, 223);
    margin: 0 1em;
    display: inline-block;
    color: rgb(96, 97, 99);
    position: relative;
  }
  
  .li::before{
    content: '';
    position: absolute;
    top: .9em;
    left: -3em;
    width: 4em;
    height: .2em;
    background: rgb(215, 219, 223);
    z-index: -1;
  }
  
  
  .li:first-child::before {
    display: none;
  }
  
  .active {
    background: rgb(255, 30, 68);
    color: white;
  }
  
  /* .active ~ li {
    background: rgb(215, 219, 223);
  }
  
  .active ~ li::before {
    background: rgb(215, 219, 223);
  } */

  .btn-group button {
    border: 1px solid transparent;
    color: white;
    /* padding: 10px 24px;  */
    cursor: pointer; 
    float: left; 
    border: none;
    font-size: 22px;
    
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .button:hover {
    background-color: transparent;
    border: transparent;
  }
 
  @media screen and (max-width: 767px) { 
    .process-content{
      margin: auto;
      text-align: start;
      }
      .li{
        margin: 15px;
      }
      .img{
       width: 100%;
      height: auto;
      }
      .img1{
        display: flex;
        justify-content: center;
      }
      .btn-group{
        justify-content: center;
        display: flex;
        margin-right: 46%;
      }
      .demo{
        margin-left: 13px;
        margin-right: 0;
      }
  }

  @media screen and (min-width: 768px) { 
    
    .process-content{
      text-align: center;
      }

      .demo{
        margin-left: 42%;
        margin-right: 41%;
      }
  }

  /* button overlap */

  .d {
    position:relative;
    cursor: pointer;
    }

    .b1 {
      float:left;
      height:40px;
      width:227px;
      border-radius: 25px;
      border: none;
      background-color:#040480;
      
    }

    .b2 {
      position: absolute;
      left: 185px;
      height: 40px;
      border-radius: 25px;
      margin-right: 90%;
      width: 251px;
      border: none;
      z-index: -1;
      color: gray;
      background-color: #E2E8E7;
  }
    